/* body {
     width: 250px;
     margin: 0 auto;
     text-align: center;
     padding: 20px;
}
#button {
     width: 150px;
     background: #f74f4f;
     border: none;
     padding: 10px 15px;
     color: #fff;
} */
